html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color: #13645a; */
}

#display{
    /* background-color: #13645a; */
    height: 100%;
}
.navbar{
    overflow: hidden;
    background-color: #09c184;
    padding: 5px 5px;
    
}
.logo{
    width: 100px;
    padding-inline-start: 20px;
}
p.button{
    text-align: center;
   
}
.icon{
    width: 29px;
    margin-right: 10px;
}
.jumbotron{
    margin-top: 28px;
    /* background-color: #13645a; */

}
.log{
    position:static;
    text-align: center;
}
.log.p{
    text-align: left;
    position:static;
}
footer.fixar-rodape{
    border-top: 1px solid #333;
    bottom: 0;
    height: auto;
    position: fixed;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: #09c184; */
}
#solicita{
    height: max-content;
}
#login-button{
    margin-right: 30px;
}
td {
    max-width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.table{
    border-radius: 10px ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233);
}

.color1{
    background-color:#07f9a2 ;
    background-color: #09c184;
    background-color: #0a8967;
    background-color: #0c5149;
    background-color: #0d192b;}