{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bem vindo!</h1>
    <p class="lead">Área destinada aos usuários não logados no sistema. Nela você pode criar e acompanhar pedidos</p>
    <hr class="my-4">
    <br><br>
    <p class="button">
      <a class="btn btn-primary btn-lg" href="#" role="button"><img class="icon" src="../static/img/icons/edit.svg"> Criar Pedidos</a>
      <a class="btn btn-secondary btn-lg" href="{{url_for('acompanhar')}} " role="button"><img src="../static/img/icons/binoculars.svg" class="icon">Acompanhar pedidos</a>
    </p>
    <p>Dúvidas ou </p>
  </div>
{% endblock %}