{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <div class="log">
    
        <h1>Registro</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32, default=nip) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                <br><span style="color: red;">usuário ou senha inválidos</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p class="button-primary">{{ form.submit() }}</p>
        </form>
    </div>
</div>
{% endblock %}